
CREATE OR REPLACE FUNCTION increment_room_views(room_id UUID) 
RETURNS void AS \$\$
BEGIN
  UPDATE rooms SET views_count = views_count + 1 WHERE id = room_id;
END;
\$\$ LANGUAGE plpgsql SECURITY DEFINER;

CREATE OR REPLACE FUNCTION increment_room_leads(room_id UUID) 
RETURNS void AS \$\$
BEGIN
  UPDATE rooms SET leads_count = leads_count + 1 WHERE id = room_id;
END;
\$\$ LANGUAGE plpgsql SECURITY DEFINER;

CREATE OR REPLACE FUNCTION increment_job_views(job_id UUID) 
RETURNS void AS \$\$
BEGIN
  UPDATE jobs SET views_count = views_count + 1 WHERE id = job_id;
END;
\$\$ LANGUAGE plpgsql SECURITY DEFINER;

CREATE OR REPLACE FUNCTION increment_job_leads(job_id UUID) 
RETURNS void AS \$\$
BEGIN
  UPDATE jobs SET leads_count = leads_count + 1 WHERE id = job_id;
END;
\$\$ LANGUAGE plpgsql SECURITY DEFINER;

CREATE OR REPLACE FUNCTION increment_provider_views(provider_id UUID) 
RETURNS void AS \$\$
BEGIN
  UPDATE service_providers SET views_count = views_count + 1 WHERE id = provider_id;
END;
\$\$ LANGUAGE plpgsql SECURITY DEFINER;

CREATE OR REPLACE FUNCTION increment_provider_leads(provider_id UUID) 
RETURNS void AS \$\$
BEGIN
  UPDATE service_providers SET leads_count = leads_count + 1 WHERE id = provider_id;
END;
\$\$ LANGUAGE plpgsql SECURITY DEFINER;

